# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

ob/*

*.orig

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test*
tscandplot
tsbtplot
tsquery
tsfeature_lyon

# ycm
.ycm_extra_conf.py

# Makefile
Makefile.inc

# ps/png
*.png
*.ps

# dat
*.dat
*.npy

#python
__pycache__
*.pyc

# image
image_detection

#fdmt
fdmt_funs

# ml
*.tfeat

